/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8ff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #45a049;
}

pre {
  font-size: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #d2d5d8;
  padding: 15px;
  border-radius: 5px;
  color: #333;
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  color: #333;
  font-size: 1.5rem;
  margin-top: 20px;
  text-align: center;
}
